html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.6;
}

body {
  margin: auto;
  text-align: center;
  overflow: hidden;
}
